/*.background {
	background-size: 'cover';
	overflow: 'hidden';
}*/
img.bg {
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.header-row {
	text-align: center;
}

.header-font {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	color: white;
}

.single-center-vert {
	padding-top: 30px;
}

.navigation {
	height: 50px;
}

.nav-bar {
	border-radius: 10px;
	background-color: hsla(0, 0%, 76%, 0.61);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 1024px) {
	img.bg {
		left: 50%;
		margin-left: -512px;
	}
}