/*.background {
	background-size: 'cover';
	overflow: 'hidden';
}*/
img.dis-image {
	min-height: 100%;
	max-height: 532px;
	min-width: 100%;
	max-width: 100%;
	border-radius: 10px;
}

.header-row {
	text-align: center;
}

.header-font {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	color: #051044;
}

.single-center-vert {
	padding-top: 30px;
}

.navigation {
	height: 51px;
}

.nav-bar {
	border-radius: 10px;
	background-color: #051044;
}

.btn-simple {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #051044;
  font-size: 19px;
  padding-top: 2px; 
  padding-bottom: 2px;
  text-align: center;
  width: 120px;
  text-decoration: none;
}

.left-align {
	margin-left: -30px !important;
	margin-right: -30px !important;
/*	padding-left: -4px;*/
}

.left-pad {
	padding-bottom: 8px;
	padding-top: 8px;
}

.display-pad {
	padding-top: 10px;
	height: 550px;
}

.display-text {
	border-radius: 10px;
	height: 532px;
	background-color: white;
	text-align: justify;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/*.btn:hover {
  background: #3F0666;
  text-decoration: none;
}*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: #051044; }
.material-icons.md-light.md-inactive { color: #051044; }

@media screen and (max-width: 1024px) {
	img.bg {
		left: 50%;
		margin-left: -512px;
	}
}